/* div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    color: white;
    text-align: center;
    align-content: center;
}
p {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: rgb(255, 0, 0);
    color: white;
    text-align: center;
    align-content: center;
} */